body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JoseFin Sans";
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 150px;
}
.header-container {
  background-image: url(images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 700px;
  margin: 0 auto;
  padding: 1px;
}
.menu {
  color: white;
  display: flex;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  margin-top: 60px;
}
.menu a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  display: inline-block;
}
.header-title {
  font-size: 4.4em;
  max-width: 600px;
  color: rgba(255, 255, 255, 0.836);
  border: 1px solid rgba(255, 255, 255, 0.836);
  padding: 30px 0 30px 50px;
  margin-top: 150px;
}
.vr-section {
  margin: 100px auto;
  position: relative;
}
.vr-section img {
  width: 720px;
}
.vr-description-container {
  background-color: white;
  padding: 70px 0 0 100px;
  margin-left: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}
.vr-title {
  font-size: 3.5em;
  margin-bottom: 25px;
  max-width: 470px;
}
.vr-description {
  font-size: 1.03em;
  color: rgba(0, 0, 0, 0.637);
  line-height: 1.5;
  max-width: 470px;
}
.seeall-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  font-size: 3.5em;
}
.seeall-btn .btn {
  padding: 5px 30px;
  background-color: hsl(0, 0%, 100%);
  font-family: "Alata";
  word-spacing: 2px;
  cursor: pointer;
  display: flex;
}
.btn.btn-mobile {
  display: none;
}
.btn:hover {
  color: white;
  background-color: black;
  transition: 0.75s;
}
.vr-list {
  margin: 0 auto;
}
.flex {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.flex div {
  position: relative;
  cursor: pointer;
  width: 24%;
}
.flex img {
  filter: brightness(90%);
  width: 100%;
}
.flex .vr-item-description {
  position: absolute;
  color: hsla(0, 0%, 93%, 0.863);
  bottom: 4%;
  width: 180px;
  font-size: 2.1em;
  left: 48%;
  transform: translate(-50%, -50%);
}
.flex div:hover img {
  opacity: 0.3;
  transition: 0.5s;
}
.flex div:hover .vr-item-description {
  color: black;
  transition: 0.5s;
}
.footer {
  background-color: black;
  padding: 10px 0;
  margin: 120px auto 0;
  text-align: center;
}
.footer-flex {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
}
.social-icon-mobile {
  display: none;
}
.social-icons a,
.social-icon-mobile a {
  margin-left: 15px;
  text-decoration: none;
  color: white;
  display: inline-block;
}
.menu-footer a {
  margin-right: 15px;
  text-decoration: none;
  color: white;
  display: inline-block;
}
a {
  position: relative;
}
a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: -10px;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
a:hover::after {
  width: 40%;
}
.copyright {
  color: rgba(255, 255, 255, 0.239);
}
.menu-mobile {
  display: none;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media only screen and (max-width: 1200px) {
  .vr-section img {
    width: 550px;
  }
  .vr-description-container {
    background-color: white;
    padding: 70px 0 0 100px;
    margin-left: auto;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .vr-title {
    font-size: 2em;
    margin-bottom: 25px;
    max-width: 300px;
  }
  .vr-description {
    font-size: 0.65em;
    max-width: 300px;
  }
  .seeall-btn {
    font-size: 2em;
  }
  .flex .vr-item-description {
    font-size: 1.81em;
    left: 60%;
  }
}
@media only screen and (max-width: 900px) {
  body {
    position: relative;
  }
  .logo {
    position: relative;
    z-index: 2;
  }
  .container {
    padding: 0 70px;
  }
  .menu-pc {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
  }
  .menu-pc a {
    font-size: 3em;
    margin-bottom: 20px;
    top: 15%;
    left: 15%;
    width: 10%;
  }
  .menu-mobile {
    display: block;
  }
  .fa-bars,
  .fa-times {
    font-size: 25px;
    z-index: 5;
    position: relative;
  }
  .header-title {
    padding: 20px;
    font-size: 7.5vw;
  }
  .vr-section {
    margin-bottom: 40px;
  }
  .vr-section img {
    width: 100%;
  }
  .vr-description-container {
    position: relative;
    text-align: center;
    padding: 0;
    margin-top: 50px;
  }
  .vr-title,
  .vr-description {
    margin: 0 auto;
  }
  .vr-title {
    font-size: 4vw;
  }
  .vr-description {
    font-size: 2.4vw;
  }
  .flex {
    display: block;
  }
  .flex div {
    width: 100%;
    padding-top: 25px;
  }
  .flex .vr-item-description {
    left: 23%;
    top: 61%;
    font-size: 2.1em;
  }
  .seeall-btn {
    display: block;
    text-align: center;
  }
  .seeall-btn .btn {
    display: none;
  }
  .btn.btn-mobile {
    display: block;
    margin: 55px auto 0 auto;
    padding: 10px 55px;
    font-size: 0.75em;
  }
  .footer {
    padding: 50px;
  }
  .footer-flex {
    display: block;
    margin: 0 auto;
  }
  .social-icons {
    display: none;
  }
  .social-icon-mobile {
    display: block;
  }
  .social-icon-mobile a {
    margin: 15px 5px 35px 5px;
  }
  .menu-footer a {
    display: block;
    margin: 25px auto;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 0 50px;
  }
  .flex .vr-item-description {
    left: 30%;
    top: 56%;
    font-size: 1.4em;
    width: 130px;
  }
}
@media only screen and (max-width: 375px) {
  .logo {
    width: 70%;
  }
  .container {
    padding: 0 20px;
  }
  .header-title {
    font-size: 10.5vw;
  }
  .seeall-btn {
    font-size: 1.2em;
  }
  .flex .vr-item-description {
    left: 30%;
    top: 58%;
    width: 90px;
    font-size: 1em;
  }
  .footer-flex img {
    max-width: 100%;
  }
}
